html, body{
    color:rgb(209, 206, 201);
    background-color: rgb(52, 51, 56);
}

.Title{
    text-align: left;
}


#fm{
    margin-right: 30px;
    padding-bottom: 20px;
}

#sfe{
 
    margin-right: 30px;
    padding-bottom: 20px;
}

#download-app{
    margin: 30px;
}

#download-app>h3{
    color: whitesmoke;
    text-align: center;
}

#yey{
  display: block;
  margin: 0 auto;
}

#download-app>p{
    color: lightseagreen;
    font-weight: bold;
    font-size: small;
}